<section class="new-form">
  <h1>Add new place</h1>
  <form (ngSubmit)="onSubmit(f)"
    #f="ngForm"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    >
    <mat-form-field>
      <input type="text"
        matInput
        placeholder="Name of the destination"
        ngModel name="name"
        required
      >
    </mat-form-field>
    <mat-form-field>
      <input type="text"
        matInput
        placeholder="Image URL"
        ngModel name="image"
        required
      >
    </mat-form-field>
    <mat-form-field>
        <input type="text"
          matInput
          placeholder="Description"
          ngModel name="description"
          required
        >
      </mat-form-field>
      <button type="submit" [disabled]="f.invalid" mat-raised-button color="accent">Create new place</button>
  </form>
</section>