.new-form{
    text-align: center;
    width: 100%;
    padding: 1rem;
}

@media(min-width: 600px){
    .new-form{
        width: 500px;
        margin: 0 auto;
    }
}

textarea{
    resize: none;
}

mat-form-field{
    width: 100%;
}