<section class="new-form">
  <h1 [textContent]="edit ? 'Edit place' : 'Create new place'"></h1>
  <form [formGroup]="placesForm" (ngSubmit)="onSubmit()" #f
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    >
    <mat-form-field>
      <input type="text"
        matInput
        placeholder="Name of the destination"
        formControlName="name"
      >
    </mat-form-field>
    <mat-form-field>
      <input type="text"
        matInput
        placeholder="Image URL"
        formControlName="image"
      >
    </mat-form-field>
    <mat-form-field>
        <textarea rows="7"
          type="text"
          matInput
          placeholder="Description"
          formControlName="description"
        ></textarea>
      </mat-form-field>
      <button type="submit" [disabled]="f.invalid" mat-raised-button color="accent" 
      [textContent]="edit ? 'Edit place' : 'Create new place'"></button>
  </form>
</section>