<button mat-raised-button color="accent" routerLink="..">Back</button>
<div class="button-group">
  <mat-checkbox (change)="onBoxCheck($event)" [checked]="place.finished" >Visited</mat-checkbox>
  <button mat-raised-button (click)="onDelete()" color="warn">Delete</button>
</div>

<div class="place" fxLayout="column" fxLayoutAlign="center center" >
  <h1 class="place-heading">{{ place.name }}</h1>
  <div class="website-container">
    <a *ngIf="place.website !==''" class="website-link" [href]="place.website" target="_blank">City website</a>
    <p *ngIf="place.website ===''">Website could not be retrieved</p>
  </div>
  <div class="img-wait"> 
    <div [ngClass]="{'lds-dual-ring': time || firstImage}" *ngIf="!imageLoaded"></div> 
    <div [ngClass]="{'img-container': i === imageIndex}" *ngFor="let image of place.images; let i = index">
      <img  src="{{ image }}" alt="{{ image }}" *ngIf="i === imageIndex"
        (load)="onImageLoad()"
        [ngClass]="{shown: imageLoaded}"
      >    
    </div>
  </div>
  <div class="img-buttons">
    <button class="img-button" mat-icon-button color="accent" (click)="prevImg()">
      <mat-icon>arrow_left</mat-icon>
      Prev</button>
    <button class="img-button" mat-icon-button color="accent" (click)="nextImg()">
      Next
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
  <div class="desc-container" (click)="descriptionShown = !descriptionShown">
    <h2>Description</h2>
    <p  class="description" [ngClass]="{visible: descriptionShown}">{{ place.description }}</p>   
  </div>
  <div class="note-container" (click)="onShowNotes()">
    <h2  *ngIf="!addNoteClicked">My Notes</h2>
    <p>Number of notes: {{ place.notes.length }}</p>
    <div *ngIf="!addNoteClicked">
      <button mat-button (click)="onToggleAdd()"><i class="material-icons">add</i>Add Note</button>
    </div>
    <div class="add-note" *ngIf="addNoteClicked" >
      <textarea #text class="add-note-textarea" name="" id=""></textarea>
      <button mat-raised-button (click)="onSaveNote()">Save Note</button>
      <button mat-raised-button (click)="onToggleAdd()">Cancel</button>
    </div>
  </div>
  <div  class="notes" [ngClass]="{visible: notesShown}">
    <ul class="notes-list">
      <li *ngFor="let note of place.notes; let i = index" class="note">{{ note }}
        <button class="button-note-delete" (click)="onDeleteNote(i)" mat-icon-button><i class="material-icons">close</i></button>
      </li>
      
    </ul>  
  </div>
  

</div>


