.place {
    margin: 0 auto;
    width: 100%
}

img {
    width: 100%;
    max-height: 400px;
}


@media(min-width: 600px){
    .place {
        width: 500px;
    }
}

button, a {
    margin: 15px;
}

.button-group {
    float: right;
}

.img-container {
    /* display: none; */
    height: 400px;
}

/* .selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100px);
    transition: all 0.5s ease-out;
} */

