<button mat-raised-button color="accent" routerLink="..">Back</button>
<div class="button-group">
  <a mat-raised-button routerLink="edit" routerLinkActive="router-link-active"  color="primary">Edit</a>
  <button mat-raised-button (click)="onDelete()" color="warn">Delete</button>
  <button *ngIf="!isVisited" mat-raised-button (click)="onVisited()" color="accent">Visited</button>
  <button *ngIf="isVisited" mat-raised-button (click)="onGoAgain()" color="accent">Go again</button>
</div>

<div class="place" fxLayout="column" fxLayoutAlign="center center" >
  <h1>{{ place.name }}</h1>
  <div [ngClass]="{'lds-dual-ring': time}" *ngIf="!imageLoaded; else img"></div>
  <div  [ngClass]="{'img-container': i === imageIndex}" *ngFor="let image of place.images; let i = index">
    <img #img src="{{ image }}" alt="{{ image }}" *ngIf="i === imageIndex"
      (load)="onImageLoad()"
      [ngClass]="{shown: imageLoaded}"
    >    
  </div>
  <div class="img-buttons">
    <button class="img-button" (click)="prevImg()">Prev</button>
    <button class="img-button" (click)="nextImg()">Next</button>
  </div>
  <p>{{ place.description }}</p>
</div>


<!-- [ngStyle]="{visibility: imageLoaded ? 'visible' : 'hidden'}" -->