.place {
    margin: 0 auto;
    width: 100%
}

img {
    width: 700px;
}

@media(min-width: 600px){
    .place {
        width: 500px;
    }
}

button, a {
    margin: 15px;
}

.button-group {
    float: right;
}