<button mat-raised-button color="accent" routerLink="..">Back</button>
<div class="button-group">
  <a mat-raised-button routerLink="edit" routerLinkActive="router-link-active"  color="primary">Edit</a>
  <button mat-raised-button (click)="onDelete()" color="warn">Delete</button>
  <button *ngIf="!isVisited" mat-raised-button (click)="onVisited()" color="accent">Visited</button>
  <button *ngIf="isVisited" mat-raised-button (click)="onGoAgain()" color="accent">Go again</button>
</div>

<div class="place" fxLayout="column" fxLayoutAlign="center center" >
  <h1 class="place-heading">{{ place.name }}</h1>
  <div class="img-wait"> 
    <div [ngClass]="{'lds-dual-ring': time}" *ngIf="!imageLoaded; else img"></div> 
    <div #img [ngClass]="{'img-container': i === imageIndex}" *ngFor="let image of place.images; let i = index">
      <img  src="{{ image }}" alt="{{ image }}" *ngIf="i === imageIndex"
        (load)="onImageLoad()"
        [ngClass]="{shown: imageLoaded}"
      >    
    </div>
  </div>
  <div class="img-buttons">
    <button class="img-button" mat-icon-button color="accent" (click)="prevImg()">
      <mat-icon>arrow_left</mat-icon>
      Prev</button>
    <button class="img-button" mat-icon-button color="accent" (click)="nextImg()">
      Next
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
  <div class="desc-container" (click)="showDesc()">
    <h2>Description</h2>
    <p  class="description" [ngClass]="{visible: descriptionShown}">{{ place.description }}</p>   
  </div>
  <a class="website-link" [href]="place.website" target="_blank">City website</a>
  

</div>


