button {
    width: 100%;
    margin: 20px auto;
}

.button {
    text-align: center;
}
.card-container {
    width: 100%;
}

@media(min-width: 600px){
    button {
        width: 500px
    }
    .card-container {
        width: 500px;
        margin: 0 auto;
    }
}

app-place-item {
    width: 100%;
}


